{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styling_dashboard.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/icon type">
</head>

<body>

<div class="main">
    <div class="main__left">
        <h3><i class="fas fa-user-graduate"></i>For Students</h3>
        <ul>
            <a href="{% url 'dashboard' %}" style="text-decoration: none; color: inherit;">
                <li @click="changeMenu('Dashboard')"><i class="fas fa-columns"></i>Dashboard <span
                        class="menu-select"></span></li>
            </a>
            <li @click="changeMenu('Learning plan')"><i class="fas fa-graduation-cap"></i>Learning plan<span
                    class="menu-select"></span></li>
            <li @click="changeMenu('Resources')"><i class="fas fa-folder-open"></i>Resources<span
                    class="menu-select"></span></li>
            <a href="{% url 'forum' %}" style="text-decoration: none; color: inherit;">
                <li @click="changeMenu('Chat')"><i class="fas fa-comments-alt"></i>Chat<span class="menu-select"></span>
                </li>
            </a>
            <a href="{% url 'settings' %}" style="text-decoration: none; color: inherit;">
                <li @click="changeMenu('Settings')"><i class="fas fa-user-cog"></i>Settings<span
                        class="menu-select"></span>
                </li>
            </a>
        </ul>
    </div>
    <div class="main__middle">
        <div class="head">
            <div class="head-title">
                Dashboard
            </div>
            <div class="head-date" id="today">
            </div>
        </div>
        <div class="welcome">
            <div class="welcome-username">
                <p class="welcome-username-name">Welcome {{ user.username }} !</p><br>
                <p class="welcome-username-words">Welcome to Your dashboard ! <br> Here you can manage all your stuff.
                </p>
            </div>
            <div class="welcome-image">
                <img src="{% static 'images/work.png' %}">
            </div>
        </div>
        <div class="activity">
            <div class="activity-calendar" id="calendar">
                <div class="options">
                    <div class="add-reminder-btn circlize" onclick="display('add-reminder-form')">
                        <img src="{% static 'images/reminder.jpg' %}" alt="Reminder" width="100%" height="100%"
                             style="border-radius: 50%;">
                    </div>
                    <div class="add-task-btn circlize" onclick="display('add-task-form')">
                        <img src="{% static 'images/task.jpg' %}" alt="Task" width="100%" height="100%"
                             style="border-radius: 50%;">
                    </div>
                    <div class="dictionary-btn circlize" onclick="display('dictionary')">
                        <img src="{% static 'images/dictionary.jpg' %}" alt="Dictionary" width="100%" height="100%"
                             style="border-radius: 50%;">
                    </div>
                </div>
                <div class="details-option">
                    <div id="add-reminder-form" style="display: none;">
                        <p style="text-align: center; font-size: larger; font-weight: bolder; font-family: consolas;">
                            Add new reminder</p>
                        <form method="post" action="{% url 'set_reminder' %}" class="reminder-class">
                            {% csrf_token %}

                            <label for="reminder-title">Reminder title:</label><br>
                            <input type="text" name="reminder_title" id="reminder-title"><br>

                            <input type="text" name="user_id" value="{{ user.id }}" hidden>

                            <label>Date:</label>
                            <vuejs-datepicker name="reminder_date" id="reminder-date"></vuejs-datepicker>

                            <input type="submit" value="Add reminder" id="reminder-submit">
                        </form>
                    </div>
                    <div id="add-task-form" style="display: none;">
                        <p style="text-align: center; font-size: larger; font-weight: bolder; font-family: consolas;">
                            Add new task</p>
                        <form method="post" action="{% url 'add_task' %}" class="reminder-class">
                            {% csrf_token %}

                            <label for="reminder-title">Task title:</label><br>
                            <input type="text" name="task_title" id="reminder-title"><br>

                            <input type="text" name="user_id" value="{{ user.id }}" hidden>

                            <label>Date:</label>
                            <vuejs-datepicker name="task_date" id="reminder-date"></vuejs-datepicker>

                            <input type="submit" value="Add task" id="reminder-submit">
                        </form>
                    </div>
                    <div id="dictionary" style="display: none;">
                        <form action="{% url 'dictionary' %}" method="post">
                            {% csrf_token %}

                            <label for="">Dictionary</label><br>
                            <input type="text" name="word_to_search" class="word-to-search" placeholder="Type a word">
                            <button type="submit" class="search-word-btn"><i class="fas fa-search"></i></button>

                        </form>
                        <div class="word-description">
                            <i class="fas fa-language"></i>
                            <p> {{ description }} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-todo">
                <div class="todo-title">
                    <i class="fas fa-clipboard-list"></i>TODO
                    <div class="input-search-todo">
                        <form action="">
                            <input type="text" name="" id="">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="todo-all-tasks-container">
                    {% for task in tasks %}

                    {% if task.student == user %}
                    <div class="todo-task-container">
                        <p class="todo-task-text"> {{ task.title }} <i style="color: red;" class="fas fa-trash-alt"></i> <i
                                class="fas fa-check-circle"></i></p>
                    </div>

                    {% endif %}

                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
    <div class="main__right">
        <div class="logout">
            <a href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a>
        </div>
        <div class="profile-pic-container">
            <div class="div1">

            </div>
            <div class="profile-pic">
                <label>
                    <img {% if user.image %} src="{{ user.image.url }}" {% else %} src="{% static 'images/mm.jpg' %}"
                         {%endif %}
                         width="80%" height="80%">
                </label>
            </div>
            <div class="div2">

            </div>
        </div>
        <div class="student-name">
            <p style="text-align: center;">{{ user.fullname }}</p>
        </div>
        <div class="student-tag">
            <p style="text-align: center;">Student</p>
        </div>
        <div class="student-reminders">
            <p>Reminders <i class="far fa-bell"><span></span></i></p>

            <hr>

            <div style="overflow-y: scroll; height: 100%;">
                {% for reminder in reminders %}

                {% if reminder.student == user %}
                <div class="reminder">
                    <span class="reminder-type"><i class="far fa-bell"></i></span>
                    <p class="reminder-label">{{ reminder.title }}</p>
                    <p class="reminder-date">{{ reminder.date }}</p>
                </div>
                {% endif %}

                {% endfor %}
            </div>

        </div>
    </div>
</div>

<script>
        let display = function(id_element) {
            document.getElementById('add-reminder-form').style.display = 'none';
            document.getElementById('add-task-form').style.display = 'none';
            document.getElementById('dictionary').style.display = 'none';
            document.getElementById(id_element).style.display = 'block';
        }



</script>

<script src="{% static 'js/main.js' %}"></script>
</body>

</html>