{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'css/styling_signup.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/icon type">
</head>

<body>

<div class="navbar">
    <div class="logo-home-page">
        <a href="/"><i class="fas fa-user-graduate"></i>&nbsp; Shukudai</a>
    </div>
    <div class="signup-login-home-page">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Sign up</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Sign out</a>
        <span style="color: rgb(34, 240, 34);
    border: 1px solid rgb(20, 231, 20);
    border-radius: 40px;
    padding: 1px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bolder;
    float: right;">online</span>
        {% endif %}
    </div>
</div>


<div class="signup-form-container">
    <form method="POST" action="" class="signup-form">
        {% csrf_token %}
        <div class="form-expression">
            <p>Sign up for Shukudai</p>
        </div>
        <div class="fullname-username">
            <div class="username-class">
                <label for="username">Username</label><br><input type="text" name="username" id="username"
                                                                 required="true">
            </div>
            <div class="fullname-class">
                <label for="fullname">Full Name</label><br><input type="text" name="fullname" id="fullname"
                                                                  required="true">
            </div>
        </div>
        <div class="gendre-age">
            <label for="gender">Gender</label>
            <div class="gender-class" id="gender" style="margin-left: 5%;">
                <table>
                    <tr>
                        <td>
                            <label for="male">Male</label>
                        </td>
                        <td>
                            <input type="radio" name="gender" id="male" style="width: 100px;" required="true">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="female">Female</label>
                        </td>
                        <td>
                            <input type="radio" name="gender" id="female" style="width: 100px;" required="true">
                        </td>
                    </tr>
                </table>

            </div>

            <div class="age-class">
                <label for="age">Age</label><br><input type="text" name="age" id="age" required="true">
            </div>
        </div>
        <div class="email">
            <label for="email">Email</label><br><input type="email" name="email" id="email" style="width: 97%;"
                                                       required="true">
        </div>
        <div class="password-confirm">
            <div class="password-class">
                <label for="password1">Password</label><br><input type="password" name="password" id="password1"
                                                                  required="true">
            </div>
            <div class="password-confirmation-class">
                <label for="password2">Confirm password</label><br><input type="password" name="password_confirm"
                                                                          id="password2" required="true">
            </div>
        </div>
        <div class="submit-button">
            <input type="submit" value="Sign up" style="font-weight: bolder;">
        </div>
        <div class="back-to-login">
            <p>Already have an account ? <a href="login.html">Login</a> now.</p>
        </div>
        {% for message in messages %}
        <h3 style="text-align: center;color: red;font-size: x-larger;">{{ message }}</h3>
        {% endfor %}
    </form>
    <div class="footer">
        <div class="footer-copyright-media">
            <div class="footer-copyright">
                &copy; 2020 Shukudai. Created by Youssef
            </div>
            <div class="footer-media">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-github"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>